.greenColor {
    color: #3cbb80;
}
/* Main Navigation */
#mainNav {
    top: 50px;
}
.nav-font {
    font-size: 21px;
    color: #F3F3F3;
    text-decoration: none !important;
}
.nav-font:hover {
    color: #3cbb80;
}

/* header */

.customButtons {
    background: #3cbb80;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    color: white;
}
.masthead {
    background: url("../assets/img-hero.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}
.site-heading {
    padding: 250px 0 100px 0;
}
.site-heading h1 {
    font-size: 48px;
}
.subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
