/* Colors */
.greenColor {
    color: #3cbb80;
}
.mainText {
    color: #838483;
}
.primaryColor {
    color: #3f3f3f;
}
.greyText {
    color: #f3f3f3;
}
/* Fonts */
.sansProFont {
    font-family: 'Source Sans Pro', sans-serif;
}
.latoRegularFont {
    font-family: 'Lato', sans-serif;
}
.nav-font {
    font-size: 21px;
    color: #F3F3F3;
    text-decoration: none !important;
}
.nav-font:hover, .greenHover:hover {
    color: #3cbb80!important;
    text-decoration: none;
}

.customButtons {
    background: #3cbb80;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    color: white;
}
.customWhiteButtons {
    background: white;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    color: #3cbb80!important;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}
.subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Why us */
/* Overwrite the default styles */
.nav-tabs .nav-link.active {
    background: none;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}
.nav-tabs .nav-link {
    border: none;
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
}
.nav-tabs .nav-link:hover {
    border: none;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}
/* Our Services */
.carousel-indicators {
    bottom: -50px;
}
/* Overwrite default styles */
.carousel-indicators .active {
    background: #3cbb80; 
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/* Our Pricing plan */
.nav-tabs .pricing.nav-link {
    color: #000000;
    border: 2px solid #000000!important;
}
.nav-tabs .pricing.nav-link.active,.nav-tabs .pricing.nav-link:hover {
    color: #3cbb80;
    border: 2px solid #3cbb80!important;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-link:hover {
    color: #3cbb80;
}
/* xs */
@media only screen and (max-width: 480px) {
    /* header */
    .masthead {
        background: url("../assets/img-hero-s.jpg");
        background-size: cover;
        background-position-y: -90px;
        background-repeat: no-repeat;        
    }
    .site-heading {
        padding: 200px 0 100px 0;
    }
    .site-heading h1 {
        font-size: 26px;
    }
    /* Why Choose Us */
    .whyUs {
        background: url("../assets/img-whyus-s.jpg");
        background-repeat: no-repeat;        
        background-size: cover;  
    }
    /* What Clients Says */
    .clientSay {
        background: url("../assets/img-clientssay-s.jpg");
        background-repeat: no-repeat;        
        background-size: cover;        
    }
}
/* sm */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    /* header */

    .masthead {
        background: url("../assets/img-hero-m.jpg");
        background-size: cover;
        background-position-y: -50px;
        background-repeat: no-repeat;
    }
    .site-heading {
        padding: 150px 0 100px 0;
    }
    .site-heading h1 {
        font-size: 35px;
    }
    /* Why Choose Us */
    .whyUs {
    background: url("../assets/img-whyus-m.jpg");
    background-repeat: no-repeat;        
    background-size: cover;  
    }
    /* What Clients Says */
    .clientSay {
        background: url("../assets/img-clientssay-m.jpg");
        background-repeat: no-repeat;        
        background-size: cover;        
    }
}
/* md */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* header */
    .masthead {
        background: url("../assets/img-hero.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .site-heading {
        padding: 150px 0 100px 0;
    }
    .site-heading h1 {
        font-size: 48px;
    }
      /* Why Choose Us */
      .whyUs {
        background: url("../assets/img-whyus.jpg");
        background-repeat: no-repeat;        
        background-size: cover;  
      }
    /* What Clients Says */
    .clientSay {
        background: url("../assets/img-clientssay-m.jpg");
        background-repeat: no-repeat;        
        background-size: cover;        
    }
}
/* lg */
@media only screen and (min-width: 985px) {
    /* Main Navigation */    
    #mainNav {
        top: 48px;
    } 
    .inverse {
        background: white;
    }
    .inverse a{
        color: black;
    }
    /* header */
    .masthead {
        background: url("../assets/img-hero.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;        
    }
    .site-heading {
        padding: 200px 0 100px 0;
    }
    .site-heading h1 {
        font-size: 46px;
    }

    .cleaningBtn {
        font-size: 18px;
        color: #F3F3F3;
        text-decoration: none !important;
    }
    .cleaningBtn:hover {
        font-size: 18px;
        color: #3cbb80;
        background: #F3F3F3;
        text-decoration: none !important;
    }
    /* Why Choose Us */
    .whyUs {
        background: url("../assets/img-whyus.jpg");
        background-repeat: no-repeat;        
        background-size: cover;        
    }
    /* What Clients Says */
    .clientSay {
        background: url("../assets/img-clientssay.jpg");
        background-repeat: no-repeat;        
        background-size: cover;        
    }
}


/* iPhone X Landscape*/
@media only screen and  (min-device-width: 375px)  and (orientation : landscape)  and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        .site-heading {
            padding: 100px 0 100px 0;
        }
    }